__pycache__/
output
.dockerignore
Dockerfile
.cache
error.log
spotifyLib.py
file.py
wintest.py
EkilaDownloader
setup.py
setup
Test
settings
.vscode
data.db
output
output-version2
static/*
data.json
.vscode/
.pytest_cache/*
